
html,
body {
  padding: 0;
  margin: 0;
  font-family: ir_sans;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 112.5) {
    html {
      font-size: 75%; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Mountogen';
  /* font-family: Bnazanin'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color:#eee;
  /* direction:rtl; */
}

.container{
  width: 100%;
  padding:3rem 0;
}

.slick-prev:before, .slick-next:before {
  color: rgb(124, 121, 121) !important;
  font-size: 4rem !important;
  z-index: 100;
}

.slick-prev {
  left: -5rem !important;
}

@font-face {
  font-family: 'Mountogen';
  src: url('./assets/fonts/LouisGeorgeCafeBold.ttf');
}

/* @font-face {
  font-family: 'ir_sans';
  src: url('/fonts/IranSans/Webfonts/fonts/woff/IRANSansX-Bold.woff');
}


@font-face {
  font-family: 'classic';
  src: url('/fonts/Far_Classic/Far_Classic.ttf');
}

@font-face {
  font-family: 'ir_sans_num';
  src: url('/fonts/IranSans/Webfonts/fonts/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-Black.woff');
}

@font-face {
  font-family: 'ir_sans_bold';
  src: url('/fonts/IranSans/Webfonts/fonts/woff/IRANSansX-DemiBold.woff');
}

@font-face {
  font-family: 'Arshia';
  src: url('/fonts/Arshia/Arshia.ttf') format('ttf');
}

@font-face {
  font-family: 'Bnazanin';
  src: url('/fonts/B_NAZANIN/B-NAZANIN.TTF') format('ttf');
}

@font-face {
  font-family: 'Helal';
  src: url('/fonts/B-Helal/B-Helal.ttf') format('ttf');
} */